*{
	font-family: 'Open Sans';
}
/*inicio sección "header"*/
 header{
 	background-color: black;
 	width: 100%;
 }

 .cpu-back{
 	width: 100%; 	
 	opacity: 0.6;
}
 a:link{
	text-decoration: none;
	text-align: center;
	color: white;
	font-weight: 600;
	display: inline-block;
	margin-left: 5%;
}
a:hover{
	color: #0dc0c0;
}
li{
	display: inline;
	margin-top: 5%;
}
.menu{
	position: absolute;
	top: 1%;
	right: 5%;
}
.title{
	position: absolute;
	top: 1%;
	left: 5%;
}
.info{
	font-size: 50px;
	width: 100%;
}
.portada{
	position: absolute;
	top: 34%;
	width: 100%;
}
.phrase{
	position: absolute;
	top: 80px; 
	left: 17%;
}
.transp{
	display: inline-block;
	padding: 10px;
	background: rgba(255,255,255, 0.1);
	margin: 5px;
	padding: 15px;
	position: absolute;
	top: 63%;
	right: 39%;
}
.dark{
	display: inline-block;
	padding: 15px;
	background-color: #484C55;
	margin: 5px;
	position: absolute;
	top: 63%;
	left: 33%;
}
/*fin sección "header"*/
/*inicio sección "features"*/
.icons{
	display: inline;
	background-color: white;
	padding: 2%;
	font-size: 14px;
}
.icono{
	font-size: 50px;
}
.laptop{
	width: 100%;
}
.features{
	margin: 2%;
}
.iconlittle{
	display: inline;
	font-size: 30px;
	position: absolute;
}
/*fin sección "features"*/
/*inicio sección "portfolio"*/
.polaroid{
	display: inline-block;
	box-shadow: 2px;
}
.fotos{
	margin:2%;
	background-color: white;
	padding: 3%  3%  15% 3%;
	width: 100%;
}

/*fin sección "portfolio"*/
/*desde sección "call to action"*/

.calltoaction-img{
	background-image:url(../img/background/city.jpg);
	height: 400px;
	background-size: cover;
	position: relative;
}

.calltoaction-img::before{
  background-color: rgba(0, 0, 0, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.calltoaction{
	text-align: center;
	font-family: 'Open Sans';
	padding:110px;
}

.calltoaction-boton{
	text-align: center;
	font-weight: bold;
	border:1px  solid transparent;
	padding:15px;
	margin: 0px 100px 30px 550px;
	width: 150px;
	background-color: white;
	color:white;
	background: rgba(255,255,255, 0.4);
	position: absolute;
}

/*fin sección "call to action"*/

/*comienzo sección "package"*/

.container-package{
	max-width: 100%;
	padding:20px 0px 40px 0px;
}

.text-choose{
	font-size: 40px;
	margin-top: 20px;
}

.text-choose-small{
	margin-bottom: 50px;
}

.caja-purchase{
	border:1px solid #e5eaec;
	width: 300px;
	padding:15px;
	margin:0px 0px 0px 10px;
	display: inline-block;
	background-color: white;
}

.caja-left{
	margin-left: 100px;
}

.standard-ultimate{
	background-color: #30313a;
	border: 1px solid transparent;
	padding:25px;
	width: 250px;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

.premium{
	background-color: #46cace;
	border: 1px solid transparent;
	padding:25px;
	width: 250px;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

.caja-number{
	background-color: #c9c9c9;
	text-align: center;
	display: inline-block;
	padding: 20px 45px;
	width: 212px;
}

.number{
 	color:#30313a;
 	font-size: 25px;
 	display: inline-block;
 	text-align: center;
}

.lista-purchase{
	list-style: none;
	text-align: center;
	padding-right: 40px; /*había una propiedad que aplicaba un padding-left de 40px que no pude encontrar*/
}

.lista-purchase2{
	margin: 20px 0px;
}

hr{
	opacity: 0.5;
	width: 250px;
}

.boton-purchase{
	text-align: center;
	font-weight: bold;
	background-color: #30313a;
	border: 1px solid transparent;
	padding: 5px;
	width: 100px;
	color: #c9c9c9;
	margin:20px 50px 20px 90px;
<<<<<<< HEAD
}

/*fin sección "package"*/

/*comienzo sección "customers"*/

.caja-customer{
	padding:30px 0px 30px 0px;
}

.foto-customer{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-left: 565px;
}

.texto-customer{
	width: 850px;
	margin-left: 180px;
}
/*fin de sección "customers"*/

/*comienzo sección "contacto"*/
.seccion-contacto{
	max-width: 100%;
}

.foto-contacto{
	background-image: url(../img/background/contactus.jpg);
	max-width: 100%;
	height: 600px;
	background-size:cover;
	position: relative;
}

.foto-contacto::before{
  background-color: rgba(0, 0, 0, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.parrafo-contacto{
	position: relative;
	text-align: center;
}

.estructura-contacto{
	position: relative;
	display: inline-block;
	height: 450px;
	border:1px solid transparent;
	margin:0px 20px 0px 20px;
	width: 50%;
}

.send-message{
	margin:0px 0px 0px 30px;
}

.caja-contacto1{
	width: 400px;
	padding:2px 0px 2px 5px;
	background-color: rgba(48, 44, 44, 0.6);
	margin:30px;
	font-size: 14px;
}

.caja-contacto2{
	width: 400px;
	padding:5px 0px 60px 5px;
	background-color: rgba(48, 44, 44, 0.6);
	margin:30px;
	font-size: 14px;
}

.boton-submit{
	background-color: #46cace;
	border: 1px solid transparent;
	width: 120px;
	margin:30px 30px 50px 30px;
	text-align: center;
	font-size: 14px;
}

.icono-contacto{
	display: inline-block;
}

.texto-icono{
	display: inline-block;
}

/*fin sección "contacto"*/

/*comienzo sección "footer"*/
.texto-footer{
	color:  #30313a;
	margin:20px 200px 20px 200px;
}

.iconos-footer{
	margin-left: 400px;
}

.icono-social{
	display: inline-block;
	font-size: 30px;
	padding: 10px;
	color:  #30313a;
	text-align: center;
	margin:20px;
}

.fondo-footer{
	background-color: #30313a;
	padding:30px 0px;
	font-size: 14px;
}

/*fin sección "footer"*/

