*{
	font-family: 'Open Sans';
}
 header{
 	background-color: black;
 	width: 100%;
 }

 .cpu-back{
 	width: 100%; 	
 	opacity: 0.6;
}
 a:link {
	text-decoration: none;
	text-align: center;
	color: white;
	font-weight: 600;
	display: inline-block;
	margin-left: 5%;
}
a:hover{
	color: #0dc0c0;
}
li{
	display: inline;
	margin-top: 5%;
}
.menu{
	position: absolute;
	top: 1%;
	right: 5%;
}
.title{
	position: absolute;
	top: 1%;
	left: 5%;
}
.info{
	font-size: 50px;
	width: 100%;
}
.portada{
	position: absolute;
	top: 34%;
	width: 100%;
}
.phrase{
	position: absolute;
	top: 80px; 
	left: 17%;
}
.transp{
	display: inline-block;
	padding: 10px;
	background-color: white;
	opacity: 0.1;
	margin: 0 auto;	
}
.dark{
	display: inline-block;
	padding: 5px;
	background-color: #484C55;
	margin: 0 auto;
}
.button{
	position: absolute;
	bottom: 20px;
	left: 20%;
	display: inline;
	margin: 0 auto;
}
.icons{
	display: inline;
	background-color: white;
}
.icono{
	font-size: 20px;
}
.laptop{
	width: 100%;
}
.features{
	margin: 2%;
}

/*desde sección "call to action"*/

.calltoaction-img{
	background-image:url(../img/background/city.jpg);
	height: 400px;
	background-size: cover;
}

.calltoaction{
	text-align: center;
	font-family: 'Open Sans';
	padding:110px;
}

.calltoaction-boton{
	text-align: center;
	font-weight: bold;
	border:1px  solid transparent;
	padding:15px;
	margin: 0px 100px 30px 550px;
	width: 150px;
	background-color: white;
	color:red;
	background: rgba(255,255,255, 0.3);
}

/*fin sección "call to action"*/

/*comienzo sección "package"*/

.text-choose{
	font-size: 40px;
	margin-top: 20px;
}

.text-choose-small{
	margin-bottom: 50px;
}

.caja-purchase{
	border:1px solid gray;
	width: 300px;
	padding:30px;
	margin:0px 0px 0px 10px;
	display: inline-block;
}

.caja-left{
	margin-left: 150px;
}

.standard-ultimate{
	background-color: #30313a;
	border: 1px solid transparent;
	padding:25px;
	width: 250px;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

.premium{
	background-color: #46cace;
	border: 1px solid transparent;
	padding:25px;
	width: 250px;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

.caja-number{
	background-color: #c9c9c9;
	text-align: center;
	display: inline-block;
	padding: 20px 45px;
	width: 212px;
}

.number{
 	color:#30313a;
 	font-size: 25px;
 	display: inline-block;
 	text-align: center;
}

.lista-purchase{
	list-style: none;
	text-align: center;
	padding-right: 40px; /*había una propiedad que aplicaba un padding-left de 40px que no pude encontrar*/
}

.lista-purchase2{
	margin: 20px 0px;
}

hr{
	opacity: 0.5;
	width: 250px;
}

.boton-purchase{
	text-align: center;
	font-weight: bold;
	background-color: #30313a;
	border: 1px solid transparent;
	padding: 5px;
	width: 100px;
	color: #c9c9c9;
	margin:20px 50px 20px 90px;
} 